.DataCard {
    height: auto;
    padding: 2em;
    margin: 3em;
    min-width: 200px;
    text-align: center;
}

.Link {
    text-decoration: none;
    color: inherit;
}

.Link:hover {
    text-decoration: none;
    color: inherit;
}