a {
    text-decoration: none;
}

.active a a {
    color: white;
}

.Filter {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1em;
}

.Sort {
    width: 100px;
    margin-left: 25%;
}

.Menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

.Direction {
    margin-left: 1em;
}