.Page {
    display: -ms-inline-flexbox;
    height: 100%;
}

.PageContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
    position: relative;
}

.Pagination {
    align-self: center;
}

.pagination {
    align-self: center;
}

.MapMarker {
    background-color: springgreen;
    opacity: 0.8;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}