.Hero {
    height: 100%;
    width: 100%;
}

.HeroImage {
    max-width: 100%;
    max-height: 75vh;
    width: 100%;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.HeroHeader {
    position: fixed;
    z-index: 5;
    margin-left: 1em;
    color: white;
    font-family: 'Comfortaa';
    font-weight: bold;
}