.CardGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BlueBadge {
    background-color: #2ec4b6;
}

.OrangeBadge {
    background-color: #ff9f1c;
}

.RedBadge {
    background-color: #e71d36;
}