.ContainerContent {
    display: flex;
    flex-flow: row;
    margin-bottom: 4em;
    justify-content: center;
}

.ContainerHeader {
    text-align: center;
}

#ToolContent {
    flex-wrap: wrap;
}

@media (max-width: 480px) {
    .ContainerContent {
        flex-wrap: wrap;
    }
}